/* Base */

body {
  color-scheme: light;
  margin-left: 15%;
  margin-right: 15%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .grilleFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

footer .grilleFooter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .grilleFooter div span {
  margin-bottom: 10px;
}

footer .grilleFooter div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .grilleFooter div ul li {
  list-style: none;
  margin-bottom: 5px;
}

img {
  position: center;
}


/* Page d'accueil */

.accueil {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url('../images/fond_violon.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.accueil h1 {
  margin: 0 0 10px;
}

.accueil h2 {
  margin: 0 0 20px;
}

.accueil button {
  padding: 10px 20px;
}


.accueilPrestations, .atelier, .artisans {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
}

.accueilPrestations img, .atelier img, .artisans img {
  width: 45%;
  height: auto;
}
  
div.accueilPrestations div.textePrestations, div.atelier div.texteAtelier, div.artisans div.texteArtisans {
  display: block;
  justify-content: space-between;
  width: 50%;
}
  
.accueilPrestations {
  flex-direction: row;
}
  
.artisans {
  flex-direction: row;
}

.atelier {
  flex-direction: row-reverse;
}
  
.accueilPrestations img, .atelier img {
  margin-right: 2rem;
}
  
.artisans img {
  margin-left: 2rem;
}
  
.content h3, .content p {
  margin-bottom: 1rem;
}
  
.content button {
  margin-top: auto;
}
  

@media (max-width: 768px) {

  nav {
    justify-content: flex-start;
    padding: 10px;
  }

nav ul {
    justify-content: flex-start;
}

.logo-container {
    position: absolute;
    right: 20px;
    top: 10px;
}
  .accueilPrestations, .atelier, .artisans {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .accueilPrestations img, .atelier img, .artisans img {
    max-width: 100%;
    margin-bottom: 5rem;
  }
  
  .accueilPrestations .content, .atelier .content, .artisans .content {
    width: 100%;
  }
  
  button {
    width: 100%;
  }
}


/* Page Produits */

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.card-list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-item {
  flex: 0 0 auto;
  width: 100%;
  max-width: 350px;
  margin: 0 20px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card-item:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.photo_carousel_produits {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #d7c8b8;
  transition: transform 0.3s ease-in-out;
}

.titre_carousel_produits {
  font-size: 1.3rem;
  color: #5d4f40;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 5%;
}

.badge {
  font-size: 1.1rem;
  color: #fff;
  background-color: #8e6e53;
  padding: 7px 15px;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-controls button {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 30px;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.carousel-controls button:hover {
  background: rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.card-link .card-button {
  position: relative;
  margin-top: 20px;
}


@media (max-width: 1200px) {
  .card-item {
      max-width: 300px;
  }
}

@media (max-width: 768px) {
  .card-item {
      max-width: 250px;
  }

  .photo_carousel_produits {
      height: 180px;
  }

  .titre_carousel_produits {
      font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .card-item {
      max-width: 200px;
  }

  .photo_carousel_produits {
      height: 150px;
  }

  .badge {
      padding: 5px 10px;
  }

  .titre_carousel_produits {
      font-size: 1rem;
  }
}


.carousel-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}
