{% extends "base.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block content %}


<div class="accueil">
    <h1>LOUIS et BERTHAUD luthiers</h1>
    <h2>Luthiers depuis </h2>
    <button><a href="#">En savoir plus</a></button>
</div>

<div class="prestations">
<img src="#" alt="image 1 luthiers louis berthaud">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a finibus sem. Nam venenatis mauris at luctus tempor. Nulla eget erat lectus. Quisque malesuada, lectus eget euismod elementum, sem risus tempor tellus, in sagittis lectus ex maximus odio. Aliquam auctor, orci quis faucibus cursus, enim lacus viverra libero, vitae elementum diam odio id nunc. Proin scelerisque imperdiet quam, vitae interdum felis fermentum ut. Etiam non ipsum velit. Sed sed pharetra urna. Mauris porttitor hendrerit tempor. Maecenas lobortis eu ligula non vestibulum. Mauris egestas aliquam ligula, vitae cursus felis imperdiet at. Donec id porta diam. Donec rhoncus, ex nec molestie ultrices, augue felis fermentum erat, sed egestas urna ante eget mi. Suspendisse potenti. Quisque hendrerit hendrerit risus at porta.</p>
<button><a href="#">Voir plus</a></button>
</div>

<div class="atelier">
<h3>Atelier</h3>
<img src="#" alt="image 1 luthiers louis berthaud">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a finibus sem. Nam venenatis mauris at luctus tempor. Nulla eget erat lectus. Quisque malesuada, lectus eget euismod elementum, sem risus tempor tellus, in sagittis lectus ex maximus odio. Aliquam auctor, orci quis faucibus cursus, enim lacus viverra libero, vitae elementum diam odio id nunc. Proin scelerisque imperdiet quam, vitae interdum felis fermentum ut. Etiam non ipsum velit. Sed sed pharetra urna. Mauris porttitor hendrerit tempor. Maecenas lobortis eu ligula non vestibulum. Mauris egestas aliquam ligula, vitae cursus felis imperdiet at. Donec id porta diam. Donec rhoncus, ex nec molestie ultrices, augue felis fermentum erat, sed egestas urna ante eget mi. Suspendisse potenti. Quisque hendrerit hendrerit risus at porta.</p>
<button><a href="#">En savoir plus</a></button>
</div>

<div class="artisans">
<img src="#" alt="image 1 luthiers louis berthaud">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a finibus sem. Nam venenatis mauris at luctus tempor. Nulla eget erat lectus. Quisque malesuada, lectus eget euismod elementum, sem risus tempor tellus, in sagittis lectus ex maximus odio. Aliquam auctor, orci quis faucibus cursus, enim lacus viverra libero, vitae elementum diam odio id nunc. Proin scelerisque imperdiet quam, vitae interdum felis fermentum ut. Etiam non ipsum velit. Sed sed pharetra urna. Mauris porttitor hendrerit tempor. Maecenas lobortis eu ligula non vestibulum. Mauris egestas aliquam ligula, vitae cursus felis imperdiet at. Donec id porta diam. Donec rhoncus, ex nec molestie ultrices, augue felis fermentum erat, sed egestas urna ante eget mi. Suspendisse potenti. Quisque hendrerit hendrerit risus at porta.</p>
<button><a href="#">Connaître les artisans</a></button>
</div>



{# <div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=19+rue+Croix+84000+Avignon&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embedded-map-code" href="https://www.bootstrapskins.com/themes" id="authmaps-data">premium bootstrap themes</a><style>#gmap-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div> #}

{% endblock %}