{% extends "base.twig" %}

{% block title %} {{ parent() }} Ajout d'un produit {% endblock %}

{% block content %}
<h1>Ajouter un produit</h1>
<div class="formulaire">
    <form action="index.php?page=ajoutProduit" method="post" enctype="application/x-www-form-urlencoded">
        <label for="inputNomProduit">Nom :</label>
        <input type="text" id="inputNomProduit" name="inputNomProduit" required>

        <label for="inputCategorieProduit">Catégorie :</label>
        <input type="text" id="inputCategorieProduit" name="inputCategorieProduit" required>

        <label for="inputDescriptionProduit">Description :</label>
        <input type="text" id="inputDescriptionProduit" name="inputDescriptionProduit" required>

        <label for="inputPrixProduit">Prix :</label>
        <input type="number" id="inputPrixProduit" name="inputPrixProduit" required>

        <label for="inputQuantiteProduit">Quantité :</label>
        <input type="number" id="inputQuantiteProduit" name="inputQuantiteProduit" required>

        <label for="inputImageProduit">Image :</label>
        <input type="file" id="inputImageProduit" name="inputImageProduit" accept="image/*" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" name="btnAjouterProduit">Envoyer</button>
    </form>

{% endblock %}