{% extends "base.twig" %}

{% block title %} {{ parent() }} Artisans {% endblock %}

{% block content %}

<h1>Artisans</h1>

<div class="Katia_LOUIS">
    <h2>Katia LOUIS</h2>
    <h3>Luthière-Archetière</h3>
    <p>Katia Louis obtient son diplôme de l'école nationale de lutherie de Mirecourt en 1988. Elle poursuit sa formation en réparation, restauration, montage et réglage de sonorité dans plusieurs ateliers (Paris, Madrid).
    Durant cette période, son intérêt croissant pour les archets, la pousse à s'initier à leur fabrication aux cotés de <a href="index.php?artisans#Remi_Berthaud">Rémi Berthaud</a>. Ils ouvrent ensemble leur atelier en 1994 à Avignon. Parallèlement, elle poursuit sa formation en archèterie - lors de stages de fabrication avec <a href="https://www.jeangrunberger.com/fr/" target="_blank">Jean Grunberger</a>, de restauration avec <a href="https://www.peteoxley.com/" target="_blank">Peter Oxley</a> et en lutherie avec Jean-Jacques Fasnacht. Elle participe également à de nombreux colloques, salons et expositions qui sont également l’occasion d’échanges avec les musiciens et de partage de pratiques avec ses collègues luthiers et archetiers. Dans son atelier d'Avignon, elle fabrique et restaure des instruments et des archets du quatuor.</p>

    <h4>Distinctions</h4>
    <ul>
        <li>2004 : Mention spéciale en archèterie au concours international de lutherie et d'archèterie de la ville de Paris.</li>
        <li>1999 : Mention spéciale en archèterie au concours international de lutherie et d'archèterie de la ville de Paris.</li>
    </ul>
</div>

<div class="Remi_BERTHAUD">
    <h2>Rémi Berthaud</h2>
    <h3>Luthier-Archetier</h3>
    <p>Diplômé de l'école nationale de lutherie de Mirecourt (Vosges) en 1988, il a poursuivi sa formation dans l’atelier de <a href="https://tanguy-jean-yves.france-artisanat.fr/" target="_blank">Jean-Yves Tanguy</a> à Caen pendant 6 ans. Il y a appris la restauration et le montage des instruments du quatuor. Il lui a aussi transmis sa passion pour les archets. C’est alors qu'il a fabriqué son premier archet avec Antoine Thibaut à Mirecourt, puis continué (parallèlement à son travail à l’atelier) la fabrication, sous l’œil bienveillant de <a href="https://www.jeangrunberger.com/fr/" target="_blank">Jean Grunberger</a> (archetier) qui les avait rejoint à Caen. Installé depuis 1994 à Avignon au côté de <a href="index.php?artisans#Katia_LOUIS">Katia Louis</a>, il enrichit sa formation lors de stages de lutherie et d'archèterie, sous la direction de François Pérégo, <a href="https://www.ericlourme.com/fr/" target="_blank">Eric Lourme</a> ou encore <a href="https://www.118712.fr/professionnels/X0tSWlVSGwE" target="_blank">Boris Fritsh</a>. Il participe régulièrement à de nombreux colloques et saisit toutes les occasions d’échanger avec ses collègues dans un souci de partage d’expérience. Il participe à des expositions depuis de nombreuses années (Musicora, Kronberg, Mondomusica, Le Salon du violon de La bellevilloise...) celles-ci lui permettent de rencontrer de nombreux musiciens et de leur faire essayer ses dernières créations. Depuis 30 ans, il poursuit avec passion son métier de luthier et d'archetier.</p>
</div>

{# <img src="./images/luthier_photo1.jpg" alt="">
<img src="./images/luthier_photo2.jpg" alt=""> #}
{% endblock %}