{% extends "base.twig" %}

{% block title %} {{ parent() }} Mentions légales {% endblock %}

{% block content %}

<h1> bienvenue chez Louis et berthaud </h1>

<div style="text-decoration:none; overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=19+rue+Croix+84000+Avignon&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embedded-map-code" href="https://www.bootstrapskins.com/themes" id="authmaps-data">premium bootstrap themes</a><style>#gmap-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>

{% endblock %}